[OSEv3:vars]
ansible_ssh_user=ansible
ansible_become=true
deployment_type=openshift-enterprise
openshift_release=v{{ ocp_version }}
debug_level=2

osm_default_node_selector='region=primary'
openshift_hosted_router_selector='region=infra'
openshift_registry_selector='region=infra'

openshift_master_console_port=443
openshift_master_api_port=443

# branding
openshift_master_project_request_message="Please submit a request via Help ticket: {{ ticket_url }}"
openshift_master_metrics_public_url=https://hawkular.{{ hostvars['localhost']['openshift_default_subdomain'] }}
#openshift_master_logging_public_url=https://kibana.{{ hostvars['localhost']['openshift_default_subdomain'] }}

#identity provider
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]

#HA master configs
openshift_master_cluster_method=native

{% for host in groups[openshift.haproxy] | intersect(groups[hostvars['localhost']['env_tag']]) %}
openshift_master_cluster_hostname={{ host }}{{ fqdn | default('') }}
{% endfor %}

openshift_master_cluster_public_hostname={{ hostvars['localhost']['master_public_url'] }}

#default subdomain to use for exposed routes
openshift_master_default_subdomain={{ hostvars['localhost']['openshift_default_subdomain'] }} 


[OSEv3:children]
masters
nodes
etcd
infranode
lb


[masters]
{% for host in groups[openshift.master] | intersect(groups[hostvars['localhost']['env_tag']]) %}
{{ host }}{{ fqdn | default('') }}
{% endfor %}


[etcd]
{% for host in groups[openshift.master] | intersect(groups[hostvars['localhost']['env_tag']]) %}
{{ host }}{{ fqdn | default('') }}
{% endfor %}

[infranode]
{% for host in groups[openshift.infranode] | intersect(groups[hostvars['localhost']['env_tag']]) %}
{{ host }}{{ fqdn | default('') }}
{% endfor %}

[lb]
{% for host in groups[openshift.haproxy] | intersect(groups[hostvars['localhost']['env_tag']]) %}
{{ host }}{{ fqdn | default('') }}
{% endfor %}

[nodes]
{% for host in groups[openshift.master] | intersect(groups[hostvars['localhost']['env_tag']]) %}
{{ host }}{{ fqdn | default('') }} openshift_schedulable=False openshift_node_labels="{'region': 'primary'}" openshift_hostname="{{ host }}{{ fqdn | default('') }}"
{% endfor %}

{% for host in groups[openshift.infranode] | intersect(groups[hostvars['localhost']['env_tag']]) %}
{{ host }}{{ fqdn | default('') }} openshift_node_labels="{'region': 'infra'}" openshift_hostname="{{ host }}{{ fqdn | default('') }}"
{% endfor %}

{% for host in groups[openshift.node] | intersect(groups[hostvars['localhost']['env_tag']]) %}
{{ host }}{{ fqdn | default('') }} openshift_node_labels="{'region': 'primary'}" openshift_hostname="{{ host }}{{ fqdn | default('') }}"
{% endfor %}
