{% for name, instance in lb_keepalived_instances.items() %}
vrrp_instance {{ name }} {
  interface {{ instance.interface }} 
  state {{ instance.state }} 
  virtual_router_id {{ instance.virtual_router_id }}
  priority {{ instance.priority }} 

{% if instance.unicast_src_ip is defined and instance.unicast_peers|length > 0 %}
  unicast_src_ip {{ instance.unicast_src_ip }}
{% endif %}
  unicast_peer {
{% for peer_ip in instance.unicast_peers %}
    {{ peer_ip }}
{% endfor %}
  }

  virtual_ipaddress {
{% for vip in instance.vips %}
    {{ vip }}
{% endfor %}
  }

{% if instance.track_scripts is defined %}
  track_script {
{% for track_script in instance.track_scripts %}
    {{ track_script }}
{% endfor %}
  }
{% endif %}
}
{% endfor %}
