[tower]
{% for host in groups['tower_nodes'] %}
{{ host }}
{% endfor %}

[database]
{% for host in groups['tower_db_nodes'] %}
{{ host }}
{% endfor %}

[all:vars]
ansible_connection=ssh
ansible_user=ansible
ansible_become=true
ansible_become_method=sudo
ansible_ssh_extra_args='-o StrictHostKeyChecking=no'

admin_password='{{ tower_admin_pw }}'

{% for host in groups['tower_db_nodes'] %}
pg_host='{{ host }}'
{% endfor %}
pg_port='{{ tower_pg_port }}'

pg_database='awx'
pg_username='awx'
pg_password='{{ tower_pg_pw }}'

rabbitmq_port=5672
rabbitmq_vhost=tower
rabbitmq_username=tower
rabbitmq_password='{{ tower_rabbitmq_pw }}'
rabbitmq_cookie=cookiemonster

# Needs to be true for fqdns and ip addresses
rabbitmq_use_long_name=false

# Isolated Tower nodes automatically generate an RSA key for authentication;
# To disable this behavior, set this value to false
# isolated_key_generation=true
