ocp_packages:
  - wget
  - git 
  - net-tools
  - bind-utils
  - yum-utils
  - iptables-services
  - bridge-utils
  - bash-completion
  - kexec-tools
  - sos 
  - psacct
  - docker-1.13.1
  - atomic-openshift-utils