{
    "eula_accepted": {{ tower_license_eula }},
    "company_name": "{{ tower_license_company_name }}",
    "contact_email": "{{ tower_license_contact_email }}",
    "contact_name": "{{ tower_license_contact_name }}",
    "instance_count": {{ tower_license_instance_count }},
    "license_date": {{ tower_license_date }},
    "license_key": "{{ tower_license_key }}",
    "license_type": "{{ tower_license_type }}",
    "trial": {{ tower_license_trial }}
}
